.icons {
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
    font-size: 20px;
}

.icon {
    color: white;
}

.icon:hover:before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
    color: black;
  }

.toggle {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    transition: transform 0.5s;
  cursor: pointer;
}

.flipped {
    transform: rotateX(180deg);
  }
  
  .flipCard {
    list-style-type: none;
    padding: 10px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    perspective: 1000px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
  }

  .flipCard::-webkit-scrollbar {
    background: transparent; /* Set the background color of the track */
  }
  
  .flipCard.flipped {
    transform: rotateY(180deg);
  }

  .customersTag {
    font-size: 30px;
    font-family: Jua;
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }

  .cat{
    transform-origin: top;
    transform: scale(0) translateY(-165px);
    margin-bottom: -155px;
  }

  .flipped~.flipCard .cat {
    transition: transform 0.5s ease-in-out, margin-bottom 0.2s ease-in-out;
    transform: scale(1) translateY(0px);
    margin-bottom: 0px;
  }