@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Jua&family=Jura:wght@700&family=Kadwa:wght@700&family=Kameron&display=swap');

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  margin: 0;
  background: rgba(89, 76, 76, 0.75);
  backdrop-filter: blur(16.5px);
  overflow: hidden;
}

